<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <h1 class="h1">RiveraSoft</h1>
            <ul>
                <li><a href="/about">Quines somos</a></li>
                <!--routerlink es para moverse dentro de angular -->
                <li><a href="/home">Servicios</a></li>
                <li><a href="/tmt">Contactenos</a></li>
            </ul>
        </nav>
    </header>
    
    <section>
        <br>
        <div class="abo">
            <img src="https://images.unsplash.com/photo-1541746972996-4e0b0f43e02a?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="" class="src">
            <p>Riverasoft es una compañía de Consultoría y Servicios de Tecnologías de la Información con una amplia
                experiencia que alcanza ya los 2 años y que está repleta de casos de éxito en la implantación de productos
                y herramientas informáticas al servicio de muchas empresas y organizaciones en general.</p>
        </div>
        <div>
            <h5 class="v">Vision</h5>
            <br>
            <p class="vi">"Ser reconocidos como líderes innovadores en el desarrollo de soluciones de software, ofreciendo productos y
                servicios de alta calidad que impulsen el éxito y la eficiencia de</p><p class="vi"> nuestros clientes. Nos esforzamos por ser
                un referente en tecnología, destacando por nuestra creatividad, compromiso con la excelencia y capacidad
                para adaptarnos a las </p>  <p class="vi"> demandas del mercado en constante evolución."</p>
        </div>
        <br>
        <div>
            <h5 class="v">Mision</h5>
            <br>
            <p class="mis">
                "En nuestra empresa de software pequeña, nos comprometemos a proporcionar soluciones tecnológicas
                personalizadas y de vanguardia que satisfagan las necesidades </p> <p class="mis">específicas de nuestros clientes. A través de
                un enfoque centrado en la colaboración, la innovación y la atención al detalle, nos esforzamos por superar
                las expectativas, </p> <p class="mis"> entregando productos confiables y servicios excepcionales que impulsen el crecimiento y la
                competitividad de nuestros clientes en sus respectivos sectores. Nos guía </p> <p class="mis"> deseo de generar un impacto
                positivo en la sociedad a través de la aplicación creativa de la tecnología."
            </p>
            <br>
        </div>
    </section>
    <footer>
        <div class="conta">
          <div class="row">
            <div class="col-md-6">
              <h4>Información de contacto</h4>
              <p>parque central, Rivera, Huila</p>
              <p>Instragram: RiveraSoft</p>
              <p>Teléfono: 3142345443</p>
            </div>
            <div class="col-md-6">
              <h4>Síguenos en:</h4>
              <ul class="social-icons">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <!-- Agrega más iconos según sea necesario -->
              </ul>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-12">
              <p class="text-center">© 2024 RiveraSoft. Todos los derechos reservados.</p>
            </div>
          </div>
        </div>
      </footer>
</body>
</html>







