<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
          <h1 class="h1">RiveraSoft</h1>
          <ul>
            <li><a href="/about">Quines somos</a></li>
            <!--routerlink es para moverse dentro de angular -->
            <li><a href="/home">Servicios</a></li>
            <li><a href="/tmt">Contactenos</a></li>
          </ul>
        </nav>
      </header>

<section>
    <br>
    <div class="card-group">
        <div class="card">
            <img src="https://images.unsplash.com/photo-1519389950473-47ba0277781c?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Dsarrollo de software</h5>
                <p class="card-text">Somos una empresa especializada en el desarrollo de software, aplicando las
                    tecnologías
                    que mejor se adaptan a las necesidades de nuestros clientes.</p>

            </div>
        </div>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1534665482403-a909d0d97c67?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Software Gestión Empresarial</h5>
                <p class="card-text">Somos partner gold de las más avanzadas herramientas de gestión empresarial del
                    mercado, como a3ERP, de Wolters Kluwer o Microsoft Business Central.</p>

            </div>
        </div>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Gestión de Sistemas</h5>
                <p class="card-text">Estudiamos las necesidades de los clientes, diseñamos su infraestructura y
                    brindamos soporte y mantenimiento informático de los sistemas. También contamos con servicios
                    informáticos cloud.</p>
            </div>
        </div>
    </div>
    <br>
    <div class="card-group">
        <div class="card">
            <img src="https://images.unsplash.com/photo-1565106430482-8f6e74349ca1?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Web y Posicionamiento</h5>
                <p class="card-text"> Realizamos páginas web y también nos encargamos de su presencia en Internet frente
                    a la competencia mediante técnicas de posicionamiento SEO y SEM</p>
            </div>
            <div class="card-footer">

            </div>
        </div>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1580983561252-463dca6ad904?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Desarrollo de aplicaciones móviles</h5>
                <p class="card-text">Somos una agencia de desarrollo de aplicaciones móviles experta, que se adapta a
                    las necesidades de tu compañía, desarrollando proyectos personalizados con software a la medida.</p>
            </div>
            <div class="card-footer">
            </div>
        </div>
        <div class="card">
            <img src="https://images.unsplash.com/photo-1584438784894-089d6a62b8fa?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Aplicaciones de movilidad</h5>
                <p class="card-text">Las aplicaciones de movilidad que desarrollamos te ayudan a vender más, trabajar de
                    forma más productiva o controlar toda la información de tu negocio.</p>
            </div>
            <div class="card-footer">
            </div>
        </div>

    </div>
</section>

<footer>
    <div class="conta">
      <div class="row">
        <div class="col-md-6">
          <h4>Información de contacto</h4>
          <p>parque central, Rivera, Huila</p>
          <p>Instragram: RiveraSoft</p>
          <p>Teléfono: 3142345443</p>
        </div>
        <div class="col-md-6">
          <h4>Síguenos en:</h4>
          <ul class="social-icons">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
            <!-- Agrega más iconos según sea necesario -->
          </ul>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <p class="text-center">© 2024 RiveraSoft. Todos los derechos reservados.</p>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>










    