<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Document</title>
</head>
<body>
    <header>
      <nav>
        <h1 class="h1">RiveraSoft</h1>
        <ul>
          <li><a href="/about">Quines somos</a></li>
          <!--routerlink es para moverse dentro de angular -->
          <li><a href="/home">Servicios</a></li>
          <li><a href="/tmt">Contactenos</a></li>
        </ul>
      </nav>
    </header>
      
      <section>
        <div class="container">
          <br>
          <h2 class="j">Nuestras Tecnologias</h2>
          <p class="inicio">Estamos especializamos en el desarrollo de aplicaciones utilizando las tecnologías más punteras,
            que mejor se
            adaptan a nuestros clientes y les ayudan a conseguir la eficiencia y la sostenibilidad.</p>
          <div class="nosotros">
            <div class="quienes">
              <h2>Desarrollo de apps y BackEnd</h2>
              <br>
                <p>HTML5, Css, Java Script</p> 
                <br>
                <p>Node Js</p>
                <br>
                <p>WebApis</p>
                <br>
                <p>Cruds con Go, php </p>
              
              <p class="lee"><a href="#" >
                <font color="#4B0082">leer mas.</font>
              </a></p>
            </div>
            <div class="quienes">
              <h2>Despliegue de soluciones</h2>
              <br>
                <p>Gitlab</p>
                <br>
                <p>Github</p>
                <br>
                <p>Terraform</p>
                <br>
                <p>DevOps</p>
              <p class="lee"><a href="#" >
                <font color="#4B0082">leer mas.</font>
              </a></p>
            </div>
            <div class="quienes">
              <h2>Apps Moviles</h2>
              <br>
                <p>Desarrollo en android studio</p>
                <br>
                <p>Desarrollo en ionic</p>
                <br>
                <p>Desarrollo nativo en java, angular, firebase</p>
                <br>
              <p class="lee"><a href="#" >
                <font color="#4B0082">leer mas.</font>
              </a></p>
            </div>
          </div>
        </div>
        <div class="main">
          <br>
          <h2 class="cen">Desarrollo de software adaptado a cada cliente</h2>
          <br>
          <div class="cont">
            <div class="text">
              <h2 class="de">Desarrollo a la medida </h2>
              <p class="tex">Desarrollamos aplicaciones informáticas a medida que
                cubran las necesidades que los software </p>
              <p class="tex"> estándar no
                hacen. Realizamos un proceso de consultoría informática,
                estudiando las necesidades </p>
              <p class="tex"> nuestros clientes para
                proporcionarles las herramientas más apropiadas que les
                permitan ser líderes </p>
              <p class="tex">en su sector, demanera que puedan hacer
                frente a los cambios económicos y tecnológicos.</p>
            </div>
            <div class="med">
              <h2 class="mit">Desarrollo de apps </h2>
              <p class="mitad">Integramos funcionalidades y desarrollos en las aplicaciones que aportan valor añadido a los
                clientes, </p>
              <p class="mitad">comercio electrónico, desarrollos web, etc.</p>
              <br>
              <p class="mitad">Para ello, se busca el modularidad y la escalabilidad de los productos, potenciando la
                utilización de </p>
              <p class="mitad"> componentes diseñados por Solusoft. Además, contamos con años de experiencia en el desarrollo
                de </p>
              <p class="mitad"> aplicaciones
                web con distintas tecnologías. </p>
            </div>
            <br>
          </div>
        </div>
      </section>
      <footer>
        <div class="conta">
          <div class="row">
            <div class="col-md-6">
              <h4>Información de contacto</h4>
              <p>parque central, Rivera, Huila</p>
              <p>Instragram: RiveraSoft</p>
              <p>Teléfono: 3142345443</p>
            </div>
            <div class="col-md-6">
              <h4>Síguenos en:</h4>
              <ul class="social-icons">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <!-- Agrega más iconos según sea necesario -->
              </ul>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-12">
              <p class="text-center">© 2024 RiveraSoft. Todos los derechos reservados.</p>
            </div>
          </div>
        </div>
      </footer>
      
</body>
</html>



